// Variables (if you have any)
$background-color: #ffffff;
$active-color: #A2CA71;
$menu-divider-color1: #A2CA71;
$menu-divider-color2: #387F39;
$header-gradiant1: #eaffcfaf;

* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    background: $background-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.385);

    .logo {
        padding: 10px;

        .nav-logo {
            width: 120px;
        }
    }

    .nav-menu {
        display: flex;
        align-items: center;

        .navlinks {
            display: flex;
            list-style: none;
            padding: 10px;
            margin: 0;
            font-size: 13px;
            font-weight: 600;
            transition: 0.3s ease all;

            li {
                margin-right: 18px;

                &:hover .menu-divider {
                    width: 100%;
                }
            }

            .menu-divider {
                width: 0%;
                height: 3px;
                background-image: linear-gradient(to right, $menu-divider-color1, $menu-divider-color2);
                border-radius: 50px;
                transition: 0.5s ease all;

                &.active {
                    width: 100%;
                }
            }
        }

        .icons {
            display: flex;
            align-items: center;
            margin-left: 25px;

            .menu-icons {
                width: 18px;
                margin-right: 18px;
            }
        }

        .menu-open {
            display: none;
            align-items: center;
            padding: 10px;

            .menu-open-icon {
                width: 25px;
            }
        }

        .menu-close {
            display: none;

            .menu-close-icon {
                width: 25px;
            }
        }
    }
}

.cart {
    position: relative;

    .cart-total {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        color: white;
        position: absolute;
        top: 0px;
        right: -6px;
        font-size: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.link {
    text-decoration: none;
    color: black;
}

.search-btn {
    cursor: pointer;
}

.cart-image {
    width: 200px;
    height: 150px !important;
    object-fit: contain;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.cart-quantity {
    width: 55px !important;
    text-align: center;
}

.popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

.contact-page {
    h1 {
        font-size: 2.5rem;
        color: #343a40;
        font-weight: bold;
    }

    p.lead {
        font-size: 1.2rem;
        color: #6c757d;
    }

    .contact-form {
        background-color: #f8f9fa;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);

        input,
        textarea {
            font-size: 1rem;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ced4da;
            transition: border-color 0.3s ease;

            &:focus {
                border-color: #80bdff;
                box-shadow: 0 0 5px $menu-divider-color1;
            }
        }

        .submit-button {
            background-color: $menu-divider-color1;
            border: none;
            padding: 10px 20px;
            font-size: 1rem;
            border-radius: 50px;
            transition: background-color 0.3s ease, transform 0.3s ease;

            &:hover {
                background-color: $menu-divider-color1;
                transform: translateY(-3px);
                box-shadow: 0 5px 10px $menu-divider-color2;
            }
        }
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


// Header start
.header {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient($header-gradiant1, rgb(255, 255, 255));
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: bold;
    }

    .header-welcome {
        margin-bottom: 10px;
    }

    .custom-btn {
        padding: 10px;
        background-image: linear-gradient($menu-divider-color1, $menu-divider-color2);
        border: 0;
        color: white;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 40px;
        font-size: 12px;
        letter-spacing: 2px;
        transition: 0.3s ease all;

        &:hover {
            background-image: linear-gradient($menu-divider-color2, $menu-divider-color1);
            letter-spacing: 3px;
        }
    }

    // Responsive Design
    @media screen and (max-width: 991px) {
        height: 50vh;
    }

    @media screen and (max-width: 810px) {

        height: 30vh;
    }

    @media screen and (max-width: 590px) {
        h6 {
            font-size: 12px;
        }

        h1 {
            font-size: 15px;
        }

        p {
            font-size: 10px;
        }

        .custom-btn {
            margin-top: 25px;
        }
    }
}

// Header end
.product-card {
    overflow: hidden;

    .product-image {
        height: 200px;
        object-fit: contain;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1); // Scales the image on hover
        }
    }

    .card-title {
        height: 45px;
        font-size: 15px;
    }

    .card-desc {
        height: 45px;
        font-size: 12px;
    }

    .card-price-rating {
        display: flex;
    }

    @media screen and (max-width: 991px) {
        .card-desc {
            height: 45px;
            font-size: 12px;
            display: none;
        }

        .card-price-rating {
            display: block;
        }
    }
}


// Footer start
.footer {
    background-image: linear-gradient(rgb(255, 255, 255), $header-gradiant1);
    color: #fff;

    .footer-description {
        font-size: 12px;
    }

    .social-icons {
        display: flex;
        align-items: center;
    }

    .after-footer {
        font-size: 12px;
    }
}

// Footer end

// Responsive Design
@media screen and (max-width: 991px) {
    .navbar {

        .nav-menu {

            display: flex;
            align-items: center;

            .navlinks {
                width: 100%;
                height: 100vh;
                position: fixed;
                top: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: rgba(255, 255, 255, 0.766) !important;
                backdrop-filter: blur(5px);
                z-index: 99;

                li {
                    margin-top: 12px;
                }

                &.close {
                    left: -120%;
                }

                &.open {
                    left: 0;
                }
            }

            .menu-open {
                display: flex;

                .menu-open-icon {
                    width: 25px;
                }
            }

            .menu-close {
                display: flex;
                position: absolute;
                top: 11px;
                right: 13px;
            }
        }

    }
}